!DOCTYPE html>
<html>
<head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<section>
    <div class="product">
        {% if products_in_cart %}
        {% for product in products_in_cart %}
        <img src="https://i.imgur.com/EHyR2nP.png" alt="{{ product.product_name }}" />
        <div class="description">
            <h3>{{ product.product_name }}</h3>
            <h5>${{ product.price }}</h5>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <form action="/create-checkout-session" method="POST">
        <button type="submit" id="checkout-button">Checkout</button>
    </form>
</section>
</body>
</html>