{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Online Store</h1>
          <span class="subheading">A collection of random musings.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      {% for post in inventory %}
      <div class="col mb-5">
      <!-- Post preview-->
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="/static/assets/img/default-product-image.jpg" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ post.product_name }} {% if current_user.id == 1: %}
                <a href="{{url_for('delete_post', post_id=post.product_id) }}">✘</a>
                {% endif %}</h5>
              <!-- Product price-->
              {{ post.price }}
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to Cart</a></div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
      <!-- New Post -->
      <!-- Only show Create Post button if user id is 1 (admin user) -->
      {% if current_user.id == 1: %}
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('inventory')}}"
          >Create New Post</a
        >
      </div>
      {% endif %}
  </div>
</section>

{% include "footer.html" %}
